/*----------------------------------------------Main Content----------------------------------------------*/

main-content div.titre{
	position: relative;
	display: block;

	padding: 10px;
	font-size: 30px;
	text-align: center;
	
	top: 80px;
	width: 350px;
	margin: 0 auto;
	
	z-index: 4;
	color: white;
	background-color: #333333;
}

main-content div.list_picture{
	position: relative;

	height: auto;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	top: 90px;
	z-index: 3;

}

main-content div img{
	position: relative;
	height: 100px;

	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	z-index: 3;
}

main-content div img:hover{
	opacity: 0.5;
}

canvas.main_window{
	position: relative;
	display: block;

	margin: 0 auto;
	top: 100px;
	height: auto;
	z-index: 2;
}

main-content div.input{
	position: relative;
	display: block;

	text-align: center;
	margin: 0 auto;
	top: 110px;
}

main-content input[type=text]{
	width: 557px;
	outline: none;
	border: 3px solid #e6e6e6;
	transition: 0.3s;
}

main-content input[type=text]:focus {
	background-color: white;
	border: 3px solid #555;
}

main-content input[type=button]{
	background-color: white;
	border: 0px;
	outline: none;
	transition: 0.3s;
	padding: 4px 8px;
}

main-content input[type=button]:hover {
	background-color: #cccccc;
}